@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    <strong>Student Email:</strong>   <a href="519c0068@students.tdtu.edu.vn">519c0068@students.tdtu.edu.vn</a><br />
    <strong>Student Email:</strong> <a href="519c0008@students.tdtu.edu.vn">519c0008@students.tdtu.edu.vn</a>
</address>